.table__div {
    margin-top: 70px;
    
}
.stock__div {
    overflow: scroll;
    white-space: nowrap;
    height: 35vh;
}
.stock__value__div {
    overflow: scroll;
    white-space: nowrap;
    height: 35vh;
}
.stock__header__div {
    position: sticky;
    text-align: center;
}
.stock__value__header__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}